<!-- {{mixture.route}} -->
{% if mixture.debug %}<!-- layouts/layout.liquid -->{% endif %}
{% include "global/header" %}

  <div class="container">
    {% block content %}
      No content has been added for this page.
    {% endblock %}
  </div>

{% include "global/footer" %}