{% if mixture.debug %}<!-- layouts/layout.liquid -->{% endif %}
{% include "global/header" %}

<body class="page">
  <div class="page__wrap">
    {% include "global/navigation" %}

    <section class="container">
      {% block content %}
        No content has been added for this page.
      {% endblock %}
    </section>

    {% include "global/footer" %}
  </div>
</body>
</html>