{% if mixture.debug %}<!-- navigation.liquid -->
{% endif %}
<header class="">
  <div class="">
    <a href="/">
      <img src="{{ "dot.gif" | asset_url }}" alt="" class="s  s--logo">
      <h1 class="headline  alpha">Nick Mjones</h1>
    </a>
    <h2 class="headline  beta">Designer <span class="sprite  sprite--dot"></span> Illustrator</h2>
  </div>
  <ul class="nav  nav--block  grid">
    <li class="grid__item  one-quarter  nav__item{% if mixture.url == "index" %}  current{% endif %}">
      <a class="headline  gamma" href="/">Work</a>
    </li><!--
 --><li class="grid__item  one-quarter  nav__item{% if mixture.url == "about" %}  current{% endif %}">
      <a class="headline  gamma" href="/about">About</a>
    </li><!--
 --><li class="grid__item  one-quarter  nav__item{% if mixture.url == "resume" %}  current{% endif %}">
      <a class="headline  gamma" href="/resume">Resume</a>
    </li><!--
 --><li class="grid__item  one-quarter  nav__item{% if mixture.url == "contact" %}  current{% endif %}">
      <a class="headline  gamma" href="/contact">Contact</a>
    </li>
  </ul>
</header>