<ul class="nav  nav--block">
 		<li {% if mixture.url == "index" %}class="current"{% endif %}><a href="/">Work</a></li><!--
 --><li {% if mixture.url == "about" %}class="current"{% endif %}><a href="/about">About</a></li><!--
 --><li {% if mixture.url == "resume" %}class="current"{% endif %}><a href="/resume">Resume</a></li><!--
 --><li {% if mixture.url == "contact" %}class="current"{% endif %}><a href="/contact">Contact</a></li>
</ul>