@import "fonts";
@import "thumbnail";
@import "middle-maker";

/* body */.page {
	background-color: $page-color;
}

/* div */.page__wrap {
	max-width: 640px;
	margin: 0 auto;
}

.s {
	display: inline-block;
	background-repeat: no-repeat;
}

.s--logo {
	height: 150px;
	width: 260px;
	background-image: url("../img/nick-mjones-logo.svg");
}

.headline {
	font-family: $brand-face;
}