@import "fonts";
@import "thumbnail";
@import "middle-maker";

a {
	color: $brand-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

/* body */.page {
	background-color: $page-color;
	padding: $base-spacing-unit;
	color: #231f20;
}

/* div */.page__wrap {
	max-width: 640px;
	margin: 0 auto;
}

.s {
	display: inline-block;
	background-repeat: no-repeat;
}

.sprite--dot {
	height: 5px;
	width: 5px;
	background-image: url("../img/sprite.svg");
}

.s--logo {
	max-height: 150px;
	max-width: 260px;
	width: 100%;
	height: 100%;
	background-size: 100% auto;
	background-image: url("../img/nick-mjones-logo.svg");
}

.headline {
	font-family: $brand-face;
}

.inline-headline {
	display: inline;
	padding-right: $base-spacing-unit;
}

.site-header {
	text-align: center;

	a {
		color: $base-font-color;
	}

	.active a {
		color: $brand-color;
	}
}

.logo-wrap {
	margin-bottom: $base-spacing-unit;

	a:hover {
		text-decoration: none;
	}

	.headline {
		margin-bottom: 0;
	}
}

.quarantine {
	img {
		display: block;
		margin-bottom: $base-spacing-unit;
	}
}

.contact-wrap {
	text-align: center;
}