//<span class="middle-maker">
//			<h3 class="headline  gamma  thumbnail__headline  middle-maker__content">

.middle-maker {
	display: table;
	height: 100%;
	width: 100%;
}

.middle-maker__content {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}