/**
 * Thumbnail for projects:
 *
  <a href="{{ post.slug }}" class="thumbnail">
    <h3 class="thumbnail__headline">
      {{ post.title }}
    </h3>
    <img src="{{ post.thumbnail | asset_url }}" class="thumbnail__background">
  </a>
 *
 */

.thumbnail {
  display: block;
  margin-bottom: $base-spacing-unit;
  position: relative;

  .thumbnail__hover-content {
    -webkit-transition: opacity 0.3s ease-out;
       -moz-transition: opacity 0.3s ease-out;
         -o-transition: opacity 0.3s ease-out;
            transition: opacity 0.3s ease-out;
    background-color: rgba($brand-color, .75);
    opacity: 0;
  }

  &:hover {
    & .thumbnail__hover-content {
      opacity: 1;
    }
  }
}

.thumbnail__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.thumbnail__headline {
  position: relative;
  z-index: 2;
  color: #fff;
  text-shadow: 0 0 5px $brand-color,
               0 0 3px $brand-color,
               0 0 1px $brand-color;
}

.thumbnail__background {
  display: block;
}