/**
 * Thumbnail for projects:
 *
  <a href="{{ post.slug }}" class="thumbnail">
    <h3 class="thumbnail__headline">
      {{ post.title }}
    </h3>
    <img src="{{ post.thumbnail | asset_url }}" class="thumbnail__background">
  </a>
 *
 */

.thumbnail {
  display: block;
  margin-bottom: $base-spacing-unit;
  position: relative;

  &::before {
    content: "";
    display: none;
    position: absolute;
    background-color: rgba($brand-color, .5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  &:hover {
    &::before {
      display: block;
    }

    & .thumbnail__headline {
      display: block; // maybe needs to use opacity?
    }
  }
}

.thumbnail__headline {
  position: relative;
  z-index: 2;
  color: #fff;
//  display: none; // maybe needs to use opacity?
}

.thumbnail__background {
  display: block;
}