<li class="grid__item  one-half  palm-one-whole">
	<a href="{{ post.slug }}" class="thumbnail">
		<span class="middle-maker">
			<h3 class="headline  gamma  thumbnail__headline  middle-maker__content">
				{{ post.title }}
			</h3>
		</span>
		<img src="{{ post.thumbnail | asset_url }}" class="thumbnail__background">
	</a>
</li>