<li class="">
	<a href="{{ post.slug }}" class="">
		{{ post.title }}
		<img src="{{ "250x250" | placeholder:'FF6600','000000' | asset_url }}">
	</a>
<!-- thumbnail: {{ post.thumbnail }} <br> -->
</li>