---
title: Artic Bubble
thumbnail: projects/Artic_Bubble/Artic_Bubble_outside-box.png
date: 2013-12-01 12:01
published: true
---

.quarantine
	%img(src="/public/img/projects/Artic_Bubble/Artic_Bubble_outside-box.png"alt="Artic Bubble")
	%img(src="/public/img/projects/Artic_Bubble/Artic_Bubble_outside-box-top.jpg"alt="Artic Bubble")
	%img(src="/public/img/projects/Artic_Bubble/Artic_Bubble_inside-box.jpg"alt="Artic Bubble")
	%img(src="/public/img/projects/Artic_Bubble/Artic_Bubble_cigars1.jpg"alt="Artic Bubble")
	%img(src="/public/img/projects/Artic_Bubble/Artic_Bubble_cigars2.jpg"alt="Artic Bubble")
	%img(src="/public/img/projects/Artic_Bubble/Artic_Bubble_cigars3.jpg"alt="Artic Bubble")