---
title: Posters
thumbnail: projects/Posters/48hourfinal1.png
published: true
date: 2013-12-01 12:04
pageScripts: []
---

.quarantine
	%img(src="/public/img/projects/Posters/48hourfinal1.png"alt="48 Hour")
	%img(src="/public/img/projects/Posters/48hourfinal2.png"alt="48 Hour")
	%img(src="/public/img/projects/Posters/ToxiquePortfolio.png"alt="Toxique")