---
title: Saucy Sides
thumbnail: projects/Saucy_Sides/saucy_sides-bottles.jpg
date: 2013-12-01 12:03
published: true
---

.quarantine
	%img(src="/public/img/projects/Saucy_Sides/SaucyBox.png"alt="Saucy Sides")
	%img(src="/public/img/projects/Saucy_Sides/saucy_sides-bottle-tops.jpg"alt="Saucy Sides")
	%img(src="/public/img/projects/Saucy_Sides/saucy_sides-labels.jpg"alt="Saucy Sides")
	%img(src="/public/img/projects/Saucy_Sides/saucy_sides-bottles.jpg"alt="Saucy Sides")