{% block content %}

<h3 class="headline gamma">About Me</h3>

<p>I am a born and bred Minnesotan who appreciates a good tater tot hot dish and a warm cable knit sweater. You can count on me for a rundown of anything and everything pop culture as well as a neverending supply of witty comebacks. I hate the cold weather, but I love the energy and spirit of the Twin Cities.</p>

<p>Design is a natural career path for me. I've always been attracted to colors, patterns, and images, and I enjoy the challenge of the creative process. I strive to create designs and campaigns that showcase concepts with a fresh perspective. I put a lot of passion and focus into my work, and I'm excited to explore new creative opportunities.</p>

<p><img src="/public/img/nick_mjones.jpg" alt="Nick Mjones"></p>

<p>
  <h3 class="headline  inline-headline  gamma">Resume</h3><a href="/public/pdf/mjones_nicholas_2013.pdf">.pdf download</a>
</p>

<!-- <p>
  
Education
Adobe CS5, CS6 &amp; Adobe CC, Mac OSX, Microsoft Office
Technical Skills
Typography, Branding, Drawing / Illustration, 
photo editing, DSLR Photography, publication design, Package design.
Creative Skills
Employment
FREELANCE
Starbucks: (Shift Supervisor) August 2006-December 2011
-Ability to work well under pressure
-Direct and guide team to acheive store goals
-properly and affectively meeting customers needs and concerns
-lead team to meet results goals
-ordering system management 
Apple Store: (Specialist & Back of House Specialist) December 2011-Present
-Consult customers on products 
-Teach workshops to help customers integrate products & software into daily life
-Help resolve technical concerns
-Store visuals and standards
-Inventory and service parts systems
-3rd Party accessories and products lead
TOXIQUE EVENTS (2013)
-RADIOACTIVE
 -Design Posters and PRomotional Materials, Marketing
-H3: HIGHTOPS AND TANKTOPS
 -Photographing for posters and promotional materials
 -Designing promotional materials and marketing and social media


</p> -->

{% endblock %}