{% block content %}
	{% if mixture.debug %}<!-- contact.liquid -->{% endif %}
	<div class="contact-wrap">
		<p class="headline  beta">Nick Mjones</p>
		<p class="headline  gamma">nick@nicholasmjones.com</p>
		<p class="headline  gamma">612.860.1892</p>
	</div>
{% endblock %}